<!-- <div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 col-lg-6 d-flex justify-content-around align-items-center">
            <div>
                <h2 class="text-light fs-1">Don't Hesitate,
                    <b class="fw-bolder"> Lets Connect!</b>
                </h2>
                <div class="social">
                    <a href="https://www.linkedin.com/in/himanshu-k-727602103/" target="_blank">
                        <div class="contacts">
                            <i class="fa fa-linkedin"></i>
                            <p class="pt-3 mail fs-5">Himanshu Kumar</p>
                        </div>
                    </a>
                    <a>
                        <div class="contacts">
                            <i class="fa fa-phone"></i>
                            <p class="pt-3 mail fs-5">+91-8146088897</p>
                        </div>
                    </a>
                    <a>
                        <div class="contacts">
                            <i class="fa fa-whatsapp"></i>
                            <p class="pt-3 mail fs-5">+91-8146088897</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/himanshu.mathur_/" target="_blank">
                        <div class="contacts">
                            <i class="fa fa-instagram"></i>
                            <p class="pt-3 mail fs-5">himanshu.mathur_</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <a class="card text-light" href="mailto: himanshumathur1208@gmail.com">
                <div class="text-center pb-5">
                    <i class="fa fa-at fw-bold" style="color: coral;"></i>
                    <p class="mail">Write to me</p>
                    <p class="fw-normal fs-3 mail">himanshumathur1208@gmail.com</p>
                </div>
            </a>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row text-center">
        <h2 class="text-light fs-1">Don't Hesitate,
            <b class="fw-bolder"> Lets Connect!</b>
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="contacts mx-auto">
                    <i class="fa fa-linkedin"></i>
                    <p class="pt-3 mail fs-5">Himanshu Kumar</p>
                </div>
                <div class="contacts mx-auto">
                    <i class="fa fa-phone"></i>
                    <p class="pt-3 mail fs-5">+91-8146088897</p>
                </div>
                <div class="contacts mx-auto">
                    <i class="fa fa-whatsapp"></i>
                    <p class="pt-3 mail fs-5">+91-8146088897</p>
                </div>
                <div class="contacts mx-auto">
                    <i class="fa fa-instagram"></i>
                    <p class="pt-3 mail fs-5">himanshu.mathur_</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6"></div>
    </div>
</div>