<div class="conatiner-fluid">
    <!-- header code Starts -->
    <div class="row bg-dark p-3 p-md-4 p-lg-5">    
        <div class="col-12 col-xl-5 text-center">
            <b class="text-light brand">Himanshu Kumar</b>
        </div>
        <div class="col-xl-7 d-none d-xl-block navButtons mr-2">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/skills" routerLinkActive="active">Skills</a>
            <a routerLink="/education" routerLinkActive="active">Education</a>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
            <a routerLink="/work" routerLinkActive="active">Work</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
    <!-- header code Ends -->
</div>