<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <article class="dialogBox px-3 px-md-4 px-lg-5 mx-auto text-light">
                I’m ready to develop your responsive website or web Application
                        with latest web framework like
                <span style="color:coral;"> Angular</span>
            </article>
            <article class="dialogBox2 d-none d-lg-block px-lg-5 text-light">
                Completed multiple web development projects as frontend developer that helped my current company to grow their products or accelerators as unique in industry.
            </article>
            <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-app-himanshu.appspot.com/o/resume.pdf?alt=media&token=5c8a37d3-9ec9-4331-8f5b-8b8467f6e522" download="Himanshu's_resume.pdf" target="blank"><button class="cv d-none d-lg-flex justify-content-between">Download Resume <mat-icon>file_download</mat-icon></button></a>
            
        </div>
        <div class="col-12 col-lg-4 bg-warn d-flex justify-content-around">
            <img
                src="assets/imgs/profile_Himanshu.jpeg"
                class="img-fluid profile "
                alt=""
                height="350px"
                width="350px"
            >
        </div>
        <div class="col-9 d-lg-none mx-auto mt-3">
            <article class="dialogBox2 pl-3 pr-4 px-lg-5 mx-auto text-light">
                Completed multiple web development projects as frontend developer that helped my current company to grow their products or accelerators as unique in industry.
            </article>
            <button class="cv d-flex d-lg-none justify-content-between">Download Resume <mat-icon>file_download</mat-icon></button>

        </div>
    </div>
    <div class="row">
        <div class="feedbacks d-none d-lg-block">
            <div class="col-9">
                <img class="feed" src="assets/imgs/rec1.PNG" alt="">
            </div>
            <div class="col-12">
                <img class="feed2" src="assets/imgs/rec2.PNG" alt="">
            </div>
        </div>
        <div class="row d-lg-none mt-5">
            <div class="col-12 py-4">
                <img class="img-fluid feed3" src="assets/imgs/rec1.jpeg" alt="feedback">
            </div>
            <div class="col-12 py-4 ">
                <img class="img-fluid feed3" src="assets/imgs/rec2.jpeg" alt="feedback">
            </div>
        </div>
    </div>
</div>
