<div class="container-fluid">
  <div class="d-flex text-light fs-4 justify-content-around mb-2">Full-Time Experience: 1.8 Years </div>
  <div class="content row">
    <div class="col-12 col-lg-4 d-flex justify-content-around my-4">
      <div class="card">
        <div class="header">
          <div class="row brand">Cognizant</div>
          <div class="designation text-dark">Internship</div>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-2 text-light d-flex align-items-center"
        >
          <p class="text-center">February 2020 - June 2020</p>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-4 text-light d-flex align-items-center"
        >
          <p class="text-center fs-6">Roles & Responsibility</p>
          <p class="text-center fw-normal">
            Training completed in c, c++, Mysql, IoT
          </p>
          <p class="text-center fw-normal">Worked on Open source project ONAP</p>
          <p class="text-center fw-normal">Gained Domain Based Knowledge</p>
        </div>
        <div class="row bg-dark rating mt-4">
          <div class="justify-content-evenly d-flex">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
      
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around my-4">
      <div class="card">
        <div class="header">
          <div class="row brand">Cognizant</div>
          <div class="designation text-dark">Programer Analyst trainee</div>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-2 text-light d-flex align-items-center"
        >
          <p class="text-center">July 2020 - June 2021</p>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-4 text-light d-flex align-items-center"
        >
          <p class="text-center fs-6">Roles & Responsibility</p>
          <p class="text-center fw-normal">
            Training completed in HTML5, CSS3, Angular
          </p>
          <p class="text-center fw-normal">Worked as Frontend Developer</p>
          <p class="text-center fw-normal">Gained Domain Based Knowledge</p>
        </div>
        <div class="row bg-dark rating mt-4">
          <div class="justify-content-evenly d-flex">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
      
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-around my-4">
      <div class="card">
        <div class="header">
          <div class="row brand">Cognizant</div>
          <div class="designation text-dark">Programer Analyst</div>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-2 text-light d-flex align-items-center"
        >
          <p class="text-center">July 2021 - Present</p>
        </div>
        <div
          class="row bg-dark dateRange pt-2 mt-4 text-light d-flex align-items-center"
        >
          <p class="text-center fs-6">Roles & Responsibility</p>
          <p class="text-center fw-normal">
            Working as Angular Developer
          </p>
          <p class="text-center fw-normal">Working as Python Developer</p>
          <p class="text-center fw-normal">5G-IOT Use-Case practitioner</p>
        </div>
        <div class="row bg-dark rating mt-4">
          <div class="justify-content-evenly d-flex">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
