<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-10 dataContainer d-flex align-items-center" *ngFor="let data of educationData">
                <div class="logo">
                    <img src={{data.logo}} alt="" height="50" width="50" >
                </div>
                <div class="title">
                    <h3>{{data.degree}}</h3>
                </div>
                <div class="school d-none d-md-block">
                    <h4>{{data.school}}</h4>
                </div>
                <p class="pass">{{data.passingYear}}</p>
    
        </div>
    </div>
</div> -->

<div class="container-fluid pt-3">
    <div class="row bg-light" *ngFor="let data of educationData">
        <div class="col-4 col-sm-2 content">
             <img src={{data.logo}} alt="" height="50" width="50">
        </div>
        <div class="col-4 col-sm-3 content">
            <p>{{data.degree}}</p>
        </div>
        <div class="col-sm-5 d-none d-sm-block content">
            <p class="school">{{data.school}}</p>
        </div>
        <div class="col-4 col-sm-2 content">
            <p>{{data.passingYear}}</p>
        </div>
    </div>
</div>