// .skillContent1 {
//     height: 541px;
//     background-color: #121212;
// }
// .skillContent2 {
//     height: 541px;
//     background-color: #FFFFFF;
// }
// .skillContent3 {
//     height: 541px;
//     background-color: #333E4E;
// }
// .skillContent4 {
//     height: 541px;
//     background-color: #F1F2F2;
// }


img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
}
